/* cuprum-regular - cyrillic */
@font-face {
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/cuprum.woff2') format('woff2'), url('../fonts/cuprum.woff') format('woff');
}
/* cuprum-italic - cyrillic */
@font-face {
  font-family: 'Cuprum';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/cuprumitalic.woff2') format('woff2'), url('../fonts/cuprumitalic.woff') format('woff');
}
/* cuprum-700 - cyrillic */
@font-face {
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/cuprumbold.woff2') format('woff2'), url('../fonts/cuprumbold.woff') format('woff');
}
/* pt-sans-regular - cyrillic */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/ptsans.woff2') format('woff2'), url('../fonts/ptsans.woff') format('woff');
}
/* pt-sans-700 - cyrillic */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/ptsansbold.woff2') format('woff2'), url('../fonts/ptsansbold.woff') format('woff');
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Cuprum', Arial, sans-serif;
}

a {
  text-decoration: none;
  color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

.header {
  color: #ffffff;
  background-color: #f4f7f9;
}

.header-top {
  font-size: 17px;
  background-color: #293449;
}

.header-link a:last-child {
  background-color:#63a63e;
}

.header-title {
  font-size: 16px;
  font-style: italic;
  line-height: 1.44;
  color: #ee3643;
}

.header-number {
  font-size: 21px;
  color: #ee3643;
}

.header-addres {
  font-size: 14px;
  color: #32425c;
}

.header-login {
  font-size: 21px;
}

.header-login a {
  color: #000000;
  background-color: #ffffff;
}

.header-navigation {
  font-size: 17px;
  background-color: #293449;
}


.about-company {
  color: #000000;
}

.about-company h2 {
  font-size: 30px;
}

.about-company p {
  font-family: "PtSans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 1.85;
}

.about-company-list {
  font-size: 18px;
}

.about-company a {
  background-color: #ee3643;
}

.footer {
  background-color: #32425c;
}
