/* cuprum-regular - cyrillic */
@font-face {
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/cuprum.woff2") format("woff2"),
    url("../fonts/cuprum.woff") format("woff");
}
/* cuprum-italic - cyrillic */
@font-face {
  font-family: "Cuprum";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/cuprumitalic.woff2") format("woff2"),
    url("../fonts/cuprumitalic.woff") format("woff");
}
/* cuprum-700 - cyrillic */
@font-face {
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/cuprumbold.woff2") format("woff2"),
    url("../fonts/cuprumbold.woff") format("woff");
}
/* pt-sans-regular - cyrillic */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans.woff2") format("woff2"),
    url("../fonts/ptsans.woff") format("woff");
}
/* pt-sans-700 - cyrillic */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsansbold.woff2") format("woff2"),
    url("../fonts/ptsansbold.woff") format("woff");
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Cuprum", Arial, sans-serif;
}

a {
  text-decoration: none;
  color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

.header {
  color: #ffffff;
  background-color: #f4f7f9;
}

.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 220px;
  height: 47px;

  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
}

.header-logo:hover,
.header-logo:focus,
.footer-logo:hover,
.footer-logo:focus {
  background-color: #ca2c37;
}

.header-logo:active,
.footer-logo:active {
  background-color: #ba2732;
}

.header-top {
  font-size: 17px;
  background-color: #293449;
}

.header-link a:focus,
.header-link a:hover {
  background-color: #212a3a;
}

.header-link a:last-child {
  background-color: #63a63e;
}

.header-link a:last-child:hover,
.header-link a:last-child:focus{
  background-color: #5fbb2d;
}

.header-link a:active {
  opacity: 0.6;
}

.header-title {
  font-size: 16px;
  font-style: italic;
  line-height: 1.44;
  color: #ee3643;
}

.header-number {
  font-size: 21px;
  color: #ee3643;
}

.header-addres {
  font-size: 14px;
  color: #32425c;
}

.header-login {
  font-size: 21px;
}

.header-login a {
  color: #000000;
  background-color: #ffffff;
}

.header-login a:hover{
  color: #ee3643;
}

.header-login a:active {
  opacity: 0.3;
}

.header-navigation {
  font-size: 17px;
  background-color: #32425c;
}

.menu-item:hover {
  background-color: #293429;
}

.menu-item:active {
  background-color: #1d2739;
  opacity: 0.5;
}

.about-company {
  color: #000000;
}

.about-company h2 {
  font-size: 30px;
}

.about-company p {
  font-family: "PtSans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 1.85;
}

.about-company-list {
  font-size: 18px;
}

.about-company a {
  background-color: #ee3643;
}

.footer {
  background-color: #32425c;
}

.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 220px;
  height: 68px;

  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
}

.footer-navigation {
  font-size: 18px;
}

.footer-navigation a:hover{
  text-decoration: underline;
}

.footer-navigation a:active {
  opacity: 0.5;
}

.site-nav a {
  color: #f1f5f7;
}

.product-nav a {
  color: #ffd180;
}

.footer-info p {
  font-size: 18px;
  line-height: 1.33;
  color: #f3f7f9;
}

.footer-contacts-back {
  font-size: 16px;
  line-height: 1.13;
  color: #ffffff;
}

.contacts-back a {
  color: #ffd180;
}
