/* cuprum-regular - cyrillic */
@font-face {
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/cuprum.woff2") format("woff2"),
    url("../fonts/cuprum.woff") format("woff");
}
/* cuprum-italic - cyrillic */
@font-face {
  font-family: "Cuprum";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/cuprumitalic.woff2") format("woff2"),
    url("../fonts/cuprumitalic.woff") format("woff");
}
/* cuprum-700 - cyrillic */
@font-face {
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/cuprumbold.woff2") format("woff2"),
    url("../fonts/cuprumbold.woff") format("woff");
}
/* pt-sans-regular - cyrillic */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans.woff2") format("woff2"),
    url("../fonts/ptsans.woff") format("woff");
}
/* pt-sans-700 - cyrillic */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsansbold.woff2") format("woff2"),
    url("../fonts/ptsansbold.woff") format("woff");
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Cuprum", "Arial", "sans-serif";
}

a {
  text-decoration: none;
  color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.container {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  color: #ffffff;
  background-color: #f4f7f9;
}

.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 47px;

  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
}

.search-block {
  position: relative;
  width: 270px;
}

.svg {
  position: absolute;
  opacity: 0.3;
}

.svg path {
  fill: #ffffff;
}

.svg:hover path {
  fill: #ffffff;
}

.svg:hover {
  opacity: 1;
}

.icon-search {
  left: 17px;
}

.icon-buckmark  {
  left: 13px;
}

.cart-icon {
  left: 15px;
}

.header-search {
  width: 270px;
  padding: 14px 0 16px 50px;

  font-size: 17px;
  line-height: 1.06;
  color: #ffffff;
  background-color: #293449;
  border: 0;
}

.header-search:focus {
  color: #000000;
  background-color: #ffffff;
}

.header-search:focus ~ svg path {
  fill: #ee3643;
}

.header-search:focus ~ svg {
  opacity: 1;
}

.header-search::placeholder {
  color: #ffffff;
}

.header-top .container {
  display: flex;
  justify-content: space-between;
}

.header-top div {
  display: flex;
  align-items: center;
}

.header-logo:hover,
.header-logo:focus,
.footer-logo:hover,
.footer-logo:focus {
  background-color: #ca2c37;
}

.header-logo:active,
.footer-logo:active {
  background-color: #ba2732;
}

.header-top {
  font-size: 17px;
  background-color: #293449;
}

.header-top a{
  display: block;
  position: relative;
  flex-grow: 1;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 14px;
}

.header-top a:focus,
.header-top a:hover {
  background-color: #212a3a;
}

.header-top a:last-child {
  padding-left: 0;
  text-align: center;
  background-color: #63a63e;
}

.header-top a:last-child:hover,
.header-top a:last-child:focus {
  background-color: #5fbb2d;
}

.header-top a:active {
  opacity: 0.6;
}

.header-middle .container {
  display: flex;
  margin-top: 47px;
  margin-bottom: 43px;
}

.header-title {
  width: 197px;
  margin: 0;
  margin-left: 60px;

  font-size: 16px;
  font-style: italic;
  line-height: 1.44;

  color: #ee3643;
}

.header-info {
  width: 270px;
  margin-left: 71px;
  text-align: center;
}

.header-number {
  border: 3px solid #ffffff;
  padding: 8px 0 6px 40px;
}

.header-number a {
  padding: 0;
  border: 0;

  font-size: 21px;
  color: #ee3643;
}

.header-addres {
  margin-top: 10px;
  font-size: 14px;
  color: #32425c;
}

.header-login {
  display: flex;
  justify-content: space-between;
  margin-left: 78px;
  padding: 0;

  font-size: 21px;
}

.header-login a {
  color: #000000;
  background-color: #ffffff;
  display: block;
}

.login-input {
  margin-right: 10px;
}

.login-input a {
  padding: 11px 27px 10px 48px;
}

.login-reg a {
  padding: 11px 15px 10px 15px;
}

.header-login a:hover {
  color: #ee3643;
}

.header-login a:active {
  opacity: 0.3;
}

.header-navigation .container {
  padding-bottom: 60px;
}

.navigation-menu {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  font-size: 17px;
  background-color: #32425c;
  box-shadow: inset 0px -5px 0 0 #293449;
}

.menu-item {
  flex-grow: 1;

}

.menu-item-link {
  display: block;
  padding-top: 19px;
  padding-bottom: 22px;

  text-align: center;
}

.menu-item-link:hover {
  background-color: #293449;
}

.menu-item-link:active {
  background-color: #1d2739;
  opacity: 0.5;
}

.promo-list {
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.promo-item {
  padding: 22px 0px 22px 23px;
  width: 300px;
  color: #ffffff;
}

.promo-item h3 {
  margin: 0;
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: bold;
}

.promo-button {
  padding: 10px 0;
  width: 135px;

  background-color: rgba(0, 0, 0, 0.1);

  text-align: center;
  font-size: 14px;
  line-height: 1.29;
  text-transform: uppercase;
}

.promo-button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.promo-button:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.yellow-block {
  background-color: #ffbf47;
}

.blue-block {
  background-color: #3bbce3;
}

.pink-block {
  background-color: #dc91d8;
}

.green-block {
  background-color: #8ed78f;
}

.orange-block {
  background-color: #ffc047;
}

.slider-item {
  position: relative;

  width: 620px;

  background-color: #000000;
  color: #ffffff;
}

.slider-item h3 {
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
}

.slider-item p {
  font-size: 18px;
}

.button {
  padding: 14px 0;

  text-align: center;
  line-height: 1.29;
  font-size: 14px;
  text-transform: uppercase;

  background-color: #ee3643;

  cursor: pointer;
}

.button:hover {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}

.slider-button {
  width: 195px;
}

.popular {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 24px 21px 30px;

  background-color: #f9f5f0;
}

.popular h2 {
  margin: 0;

  font-size: 30px;
  font-weight: normal;
  text-transform: uppercase;
  color: #32425c;
}

.popular-button {
  width: 253px;
}

.services {
  margin-top: 65px;
  padding-top: 68px;

  background-color: #f4f7f9;
}

.services .title {
  width: 400px;
}

.services-block {
  display: flex;

  margin-top: 74px;
}

.services h2 {
  margin: 0;

  font-size: 30px;
}

.services h3 {
  margin: 0;

  font-size: 36px;
  color: #32425c;
}

.services p {
  margin: 0;
  margin-top: 38px;

  font-family: "PTSans", "Arial", "sans-serif";
  font-size: 13px;
  line-height: 1.85;
}

.services-list {
  padding: 0;
  margin: 0;
  margin-right: 80px;
}

.services-list li {
  width: 240px;
  padding: 15.5px 22px;

  font-size: 21px;
  font-weight: bold;
  color: #ffffff;
  line-height: 1.43;

  box-shadow: 0px 1px 0 0 #293449, inset 0px 1px 0 0 #405069;
  background-color: #32425c;

  cursor: pointer;
}

.services-item a {
  color: red;
}

.services-list li:hover {
  background-color: #293449;
}

.services-list .active-item {
  color: #32425c;
  box-shadow: 0px 1px 0 0 #ffffff, inset 0px 1px 0 0 #ffffff;
  background-color: #ffffff;
}

.services-list .active-item:hover {
  background-color: #ffffff;
}

.about-company {
  color: #000000;
}

.about-company h2 {
  font-size: 30px;
}

.about-company p {
  font-family: "PTSans", "Arial", "sans-serif";
  font-size: 13px;
  line-height: 1.85;
}

.about-company-list {
  font-size: 18px;
}

.company-button {
  width: 220px;
}

.feedback-button {
  width: 300px;
}

.footer {
  background-color: #32425c;
}

.footer .container {
  display: flex;
}

.footer-info {
  width: 322px;
  margin-right: 68px;
}

.footer-info p {
  margin: 0;
  margin-top: 32px;

  font-size: 18px;
  line-height: 1.33;
  color: #f3f7f9;
}

.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 68px;

  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
}

.footer-navigation {
  width: 550px;
  margin-top: 42px;
  font-size: 18px;
}

.footer-navigation a:hover {
  text-decoration: underline;
}

.footer-navigation a:active {
  opacity: 0.5;
}

.site-nav {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.site-nav a {
  color: #f1f5f7;
}

.product-nav {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-top: 40px;
  padding: 0;
  padding-left: 23px;
}

.product-nav a {
  color: #ffd180;
}

.footer-contacts-back {
  font-size: 16px;
  line-height: 1.13;
  color: #ffffff;
  background-color: #293449;
}

.contacts-back a {
  color: #ffd180;
}

.contacts-back a:hover {
  text-decoration: underline;
}

.contacts-back a:active {
  color: #ee3643;
}

.user-block .user {
  width: 299px;
  padding: 11px 0 10px 47px;

  background-color: #ffffff;
}

.user a {
  font-size: 21px;
  color: #000000;
}

.header-login--catalog a {
  font-size: 16px;
  color: #32425c;
  text-decoration: underline;
}

.brands-item {
  width: 220px;
  height: 145px;

  border: 1px solid #eaeaea;
}

.brands-item a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.brands-item:hover {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.brands-item:active {
  opacity: 0.3;
  box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
}

.popular-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 21px 0;
  padding: 0;
}

.product-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 220px;
  min-height: 318px;
  padding-bottom: 21px;

  font-family: "PTSans", "Arial", "sans-serif";

  border: 1px solid #eaeaea;
}

.product-item h3 {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.11;
  margin: 0;
}

.product-item span {
  font-size: 17px;
  text-decoration: line-through;
  color: #999999;
}

.product-item a {
  display: flex;
  align-items: center;
  padding-left: 36px;
  margin-left: 10px;
  width: 141px;
  height: 38px;

  font-size: 17px;

  background-image: url("../img/item-button.svg");
  cursor: pointer;
}

.product-item img {
  order: -1;
}

.brands-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  margin: 21px 0;
}

.brands-item {
  margin-bottom: 20px;
}

.about-company {
  margin-top: 82px;
  margin-bottom: 86px;
}

.about-company .container {
  display: flex;
  justify-content: space-between;
}

.company {
  width: 520px;
}

.contacts p {
  width: 195px;
}

//Styles for catalog

.user-block {
  margin-left: auto;
}

.main-catalog {
  font-family: "PTSans", "Arial", "sans-serif";
}

.bread {
  font-size: 13px;
}

.bread-list {
  display: flex;
  margin: 0;
  padding-left: 30px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.bread li {
  padding-right: 32px;
}

.bread a {
  color: #000000;
}


.column {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}

.column-left {
  width: 220px;
}

.column-right {
  width: 700px;
}

.catalog-title {
  padding: 26px 0 27px 30px;

  font-family: "Cuprum", "Arial", "sans-serif";
  color: #32425c;
  text-transform: uppercase;

  background-color: #f2f6f8;
}

.filtration p {
  margin: 0;
}

.catalog-title h1 {
  margin: 0;
}

.title-block {
  width: 220px;
  padding: 10px 0px 11px 18px;

  font-size: 13px;
  line-height: 1.38;

  background-color: #f7f3ec;
}

.sorted {
  display: flex;
  justify-content: space-between;
  width: 700px;
  padding: 10px 0 11px 19px;

  font-size: 13px;
  line-height: 1.38;

  background-color: #f7f3ec;
}

.sorted p {
  margin: 0;
}

.sorted-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.sorted-list a {
  color: #000000;
  border-bottom: 1px dashed #ee3643;
  opacity: 0.3;
}

.sorted-list a:hover {
  opacity: 1;
  border-bottom-style: solid;
}

.sorted-list a:active {
  opacity: 1;
  border: 0;
  color: #ee3643;
}

.filter legend {
  font-size: 17px;
  font-weight: bold;
  text-transform: uppercase;
}

.filter label {
  font-size: 15px;
}

.filter button {
  width: 140px;
  padding-top: 7px;
  padding-bottom: 7px;

  line-height: 1.38;
  text-align: center;

  border: 1px solid #e5e5e5;

  cursor: pointer;
}

.pages {
  margin: 52px 0 60px 0;
  padding: 0;
  display: flex;
}

.pages li {
  padding: 14px 17px;
  margin-right: 10px;

  font-size: 13px;
  border: 1px solid #e5e5e5;
}

.pages li:hover {
  border-color: #bdc6ca;
}

.pages li:active {
  border-color: #ee3643;
}

.pages a {
  color: #000000;
}

.pages .active-page {
  background-color: #ee3643;
}

.active-page a {
  color: #ffffff;
}

.service-back {
  background-color: #f4f7f9;
}

.service-back .container {
  padding: 67px 0 73px 0;
}

.service-back h2 {
  margin: 0;

  font-family: "Cuprum", "Arial", "sans-serif";
  font-size: 30px;
  text-transform: uppercase;
}

.service-back p {
  margin: 0;
  margin-top: 20px;

  font-family: "PTSans", "Arial", "sans-serif";
  font-size: 13px;
  line-height: 1.85;
  letter-spacing: normal;
  text-align: left;
}

.product-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.product-list .product-item {
  margin-top: 21px;
}

.none {
  display: none;
}
